{% extends "layout.html" %}

{% block title %}
    Add Student
{% endblock %}

{% block body %}
    <form action="/add" method="post">
        <div>
            <input autocomplete="off" id="student" name="student" placeholder="Firstname Lastname" type="text">
            <select name="grade" id="grade">
                <option value="" disabled selected>Grade</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <select name="activity" id="activity" class="selectpicker form-control">
                <option value="" disabled selected>Activity</option>
                {% for activity in activities %}
                    <option value="{{ activity }}">{{ activity }}</option>
                {% endfor %}
            </select>
            <select name="year" id="year" class="selectpicker form-control">
                <option value="" disabled selected>Year</option>
                {% for year in years %}
                    <option value="{{ year }}"> {{ year }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}