{% extends "layout.html" %}

{% block title %}
    Add Student
{% endblock %}

{% block body %}
    <p>{{ student }} in grade {{ grade }} does not appear to be in the database. Would you like to add them?</p>
    <form action="/add_student" method="post">
        <table>
            <tr>
                <td>
                    <input type="radio" id="student" name="student" value="{{ student }}">
                    <label for="student">Add Student</label>
                </td>
                <td><input type="radio" id="grade" name="grade" value="{{ grade }}">
                    <label for="grade">Add Student Grade</label>
                </td>
                <td>
                    <input type="radio" id="activity" name="activity" value="{{ activity }}">
                    <label for="activity">Add Student to {{ activity }}</label>
                </td>
                <td>
                    <input type="radio" id="year" name="year" value="{{ year }}">
                    <label for="year">Add Student to {{ year }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="no_student" name="student" value="no">
                    <label for="no_student">Don't Add Student</label>
                </td>
                <td>
                    <input type="radio" id="no_grade" name="grade" value="no">
                    <label for="no_grade">Don't Add Student Grade</label>
                </td>
                <td>
                    <input type="radio" id="no_activity" name="activity" value="no">
                    <label for="no_activity">Don't Add Student to {{ activity }}</label>
                </td>
                <td>
                    <input type="radio" id="no_year" name="year" value="no">
                    <label for="no_year">Don't Add Student to {{ year }}</label>
                </td>
            </tr>
        </table>
        <br>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}