{% extends "layout.html" %}

{% block title %}
    Search by Points and Grade
{% endblock %}

{% block body %}
    <div class="container">
        <input type="button" id="button" value="Generate a PDF">
        <div id="divID">
            <h2>More points than or equal to {{ points }} for Grade {{ grade }}</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Total Points</th>
                </tr>
                {% for i in range(len_info) %}
                    <tr>
                        <td>{{ info[i]['name'] }}</td>
                        <td>{{ info[i]['points'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}