project/extracurr.db
project/extracurr.db
project/__pycache__/app.cpython-312.pyc
microgrid/__pycache__/app.cpython-312.pyc
microgrid/__pycache__/constants.cpython-312.pyc
microgrid/__pycache__/app.cpython-312.pyc
