{% extends "layout.html" %}

{% block title %}
    Points Search
{% endblock %}

{% block body %}
    <form action="/points_search" method="post">
        <div>
            More points or equal to:
            <input autocomplete="off" id="points" name="points" placeholder="Number of Points" type="text">
            <select name="grade" id="grade">
                <option value="" disabled selected>Grade</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}