img {
    display: block;
    width: auto;
    margin: auto;
  }

div {
  padding-left: 15px;
  padding-right: 15px;
}
ul {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

table {
  width:auto;

}

th {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

h2 {
  text-align: center;
}

form {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

 /* Dropdown Button */
 .dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #48d34d;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

.container {
  position: fixed;
  top: 20%;
  left: 28%;
  margin-left: -100px;
  border-radius: 7px;
}

.card {
  box-sizing: content-box;
  width: 700px;
  height: auto;
  padding: 30px;
  border: 1px solid black;
  font-style: sans-serif;
  background-color: #f0f0f0;
}

#button {
  background-color: #4caf50;
  border-radius: 5px;
  margin-left: 650px;
  margin-bottom: 5px;
  color: white;
}

caption{
  font-weight: bold;
  font-size: 1.875em;
}